extends layout

block content
  h1 #{title}
  form(method='POST' action='/articles/add')
      #form-group
        label Title
        br
        input.form-control(name='title', type='text')
      #form-group
        br
        label Body    
        br      
        textarea.form-control(name='body')
        br
        br
      input.btn.btn-primary(type='submit', value='Submit') 
      br 
  
