extends layout

block content
  h1 Login
  form(method='POST' action='/users/login')
      #form-group
        br
        label Username:
        br
        input.form-control(name='username', type='text')
      #form-group
        br
        label Password:
        br
        input.form-control(name='password', type='password') 
        br
        br
      input.btn.btn-primary(type='submit', value='Submit') 
      br 
  
